.left-div{
	width:30%;
	height: 600px;
	float: left;
	margin:auto;
	margin-top: 20px;
	position: fixed;
}
.right-div{
	width:70%;
	height: 600px;
	float: right;
	margin: auto;
	margin-top: 20px;
}

h2{
	text-align:center;
	font-family: Serif;
	font-weight: normal;
	color: black;
}
.footer a{
	height: 30px;
	width: 30px;
	margin: 0px 20px;
	color: black;
}
.shapes{
	display: flex;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: black;
}
.deliveroo-div{
	float: left;
	width: 60%;
}
.button-div{
	float: right;
	width: 30%;
	margin-top: 60px;
}
.button{
	background-color: black;
	font-size: 15px;
	color: white;
	height: 30px;
	width: 100px;
	border-radius: 5px;
}
.boxs{
	display: flex;
	flex-direction: row;
}
.box{
	width: 33%;
}